<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Lobster&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/header.css" >
    <link rel="stylesheet" href="../css/contact.css" />


    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script type="text/javascript">
    (function(){
        emailjs.init({
            publicKey: "cDsXZgHWrUtFwG3xQ",
        });
    })();
    </script>
    <script type="module" src="../js/contact.js" defer></script>
   
    
    
</head>
<body>
    <header id="header"></header>
    <main>
        <div class="date contact-date"></div>
        <div class="form-container">
            <h2>contact me</h2>
            <form action="">
                <div class="input-field">
                    <input id="name" type="text" placeholder="Full Name" required/>
                </div>
                <div class="input-field">
                    <input id="email" type="email" placeholder="Email Address" required/>
                </div>
                <div class="input-field">
                    <input id="subject" type="text" placeholder="subject" required/>
                </div>
                <div class="">
                    <textarea name="" id="message" cols="30" rows="10"></textarea>
                </div>
                <button id="submit-btn" type="submit" aria-required="true">Send Message</button>
            </form>
        </div>

        <!--Popup-->
        <div class="popup-container" id="popup">
            <div class="popup-content">
                <span class="close-btn" id="closePop">&times;</span>
                <div class="popup-icon" id="popupIcon">✔️</div>
                <h2 id="statusText"></h2>
                <p id="popupMessage"></p>
                <button class="popup-btn" id="closePopupBtn">OK</button>
            </div>
        </div>
    </main>
</body>
</html>